body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5em;
  max-width: 40em;
  margin: auto;
  padding: 10px 20px;
}

a {
  color: #369;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
    color: #ddd;
  }

  a {
    color: #ade;
  }
}
